{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Modifier mon profil{% endblock %}

{% block body %}
    <h2>Modifier mon profil</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Mettre mon profil à jour') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('MyProfile') }}"><button>Retour à mon profil</button></a>
{% endblock %}
