{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Mon profil{% endblock %}
{% block body %}
    <h2>Mon profil</h2>
        {% for monProfil in monProfil %}
                <div id="mainCont">
                    <div class="element">
                <div class="field">
                    <p id="label">Pseudo: </p>
                    <p id="fieldValue">{{ monProfil.pseudo }}</p>
                </div>
                        <div class="field">
                <p id="label">Nom: </p>
                <p id="fieldValue">{{ monProfil.nom }}</p>
                        </div>
                        <div class="field">
                            <p id="label">Prenom: </p>
                <p id="fieldValue">{{ monProfil.prenom }}</p>
                        </div>
                        <div class="field">
                <p id="label">Tél: </p>
                <p id="fieldValue">{{ monProfil.telephone }}</p>
                        </div>
                        <div class="field">
                <p id="label">Mail: </p>
                <p id="fieldValue">{{ monProfil.mail }}</p>
                    </div>


            <a  class="validate" href="{{ path('edit_profile', {'id': monProfil.id}) }}"><button>Modifier mes informations</button></a>
                    </div>
                </div>
        {% endfor %}

{% endblock %}
