{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Profil{% endblock %}

{% block body %}
    <h2>Profil de {{ participant.pseudo }}</h2>
<div id="mainCont">
    <div class="element">
    <div class="field">
        <p id="label">Pseudo: </p>
        <p id="fieldValue">{{ participant.pseudo }}</p>
    </div>

    <div class="field">
        <p id="label">Nom: </p>
        <p id="fieldValue">{{ participant.nom }}</p>
    </div>
    <div class="field">
        <p id="label">Prenom: </p>
        <p id="fieldValue">{{ participant.prenom }}</p>
    </div>
    <div class="field">
        <p id="label">Mail: </p>
        <p id="fieldValue">{{ participant.mail }}</p>
    </div>
    </div>
</div>
{% endblock %}
