{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}
    <h2>Liste des sorties</h2>

        {% for sortie in sorties %}
            <div id="mainCont">
            <div class="element">
            <div class="field">
            <p>Nom: </p>
            <p>{{ sortie.nom }}</p>
            </div>
            <div class="field">
            <p>Date: </p>
            <p>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d-m-Y') : '' }}</p>
            </div>
            <div class="field">
            <p>Date limite d'inscription: </p>
            <p{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d-m-Y') : '' }}</p>
            </div>
            <div class="field">
            <p>Nombre maximum d'inscrits: </p>
            <p>{{ sortie.nbInscriptionsMax }}</p>
            </div>
            <p>Campus</p>
            <p>{{ sortie.campus.nom }}</p>
            <p>InfoSortie</p>
            <p>{{ sortie.infoSortie }}</p>
            <p>
                {% if(sortie.organisateur.id == app.user.id or app.user.administrateur==true) %}
                    <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">edit</a>
                {% endif %}
                <a href="{{ path('sortie_inscription', {'id': sortie.id})}}"><button>Afficher</button></a>

            </p>
        {% else %}
                <p>no records found</p>
            </div>
            </div>
        {% endfor %}


    <a href="{{ path('create_sortie') }}">Create new</a>
{% endblock %}
