{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}
    <h1>Sortie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>DateHeureDebut</th>
                <th>Duree</th>
                <th>DateLimiteInscription</th>
                <th>NbInscriptionsMax</th>
                <th>InfoSortie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.duree }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d') : '' }}</td>
                <td>{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.infoSortie }}</td>
                <td>
                    {% if(sortie.organisateur.id == app.user.id or app.user.administrateur==true) %}
                    <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">edit</a>
                    {% endif %}
                    <a href="{{ path('sortie_inscription', {'id': sortie.id})}}"><button>Afficher</button></a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('create_sortie') }}">Create new</a>
{% endblock %}
