{% extends 'base.html.twig' %}

{% block body %}
<p>TEST MOD PROFIL.</p>
    {{ form_start(userForm) }}
        {{ form_row(userForm.pseudo,{'value': app.user.pseudo}) }}
        {{ form_row(userForm.email,{'value':app.user.email}) }}
        {{ form_row(userForm.nom,{'value':app.user.nom}) }}
        {{ form_row(userForm.prenom, {'value':app.user.prenom}) }}
        {{ form_row(userForm.telephone, {'value':app.user.telephone}) }}
        <button>Mettre a jour les informations</button>
    {{ form_end(userForm) }}
{% endblock %}

{% block title %}

{% endblock %}

